<footer>
	<div class="mw7 center measure-wide pb5">
		<div class="tc pt5">
			<a href="https://cdh.princeton.edu/"><img src="/img/cdh_logo_full_color_Print.svg" alt="Logo for the Center for Digital Humanities at Princeton" width="150"></a>  <a href="https://humanities.princeton.edu/"><img src="/img/humanities_council.svg" alt="Logo for the Princeton Humanities Council" width="150"></a>
		</div>
		<div id="bottom" class="tc headlinks pv4">
			<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img src="/img/ccheart.svg" alt="Logo for a Creative Commons license." width="22"> BY-NC-SA {{ now.Year }}</a>
		</div>
	</div>
</footer>
