<header class="headlinks">
    <span class="mw7">
        <div class="tc ph1 pt4">
            <a href="{{ .Site.Params.baseURL | relURL }}">Home</a>
            <br>
            <a href="{{ "schedule" | absURL}}">SCHEDULE</a> • <a href="{{ "administrivia" | absURL}}">ADMINISTRIVIA</a>
            <br>
            <a href="{{ "glossary" | absURL}}">GLOSSARY</a> • <a href="{{ "resources" | absURL}}">RESOURCES</a>
            <br>
            <a href="{{ "final" | absURL}}">FINAL PROJECT</a>
        </div>
    </span>
</header>